.table {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.thead {
  position: sticky;
  top: 0;
  background-color: white;
}
.tbody {
  border-bottom: 1px solid #e7e9ea;
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.theader {
  border-bottom: 1px solid #d3d5d6;
  margin: 10px;
  padding: 10px;
  color: #878585;
}

.btn {
  padding: 10px 15px;
  color: #aaa7a7;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.7s;
}

.btn:hover {
  background-color: #edecec8f;
}
