$text-btn-color: #1876d2;
$gray-color: #aaa7a7;

$text-btn-backgroundcolor: #ffffff;
$contained-btn-backgroundcolor: #1876d2;
$dark-background-color: rgba(0, 0, 0, 0.2);
$light-gray-background-color: #f6f2f293;

$contained-btn-hover-color: #0059b2;
$text-btn-hover-color: #d7eafe78;

$light-box-shadow-color: 0px 0px 30px #9b9b9b;
$dark-box-shadow-color: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
$card-box-shadow-color: 3px 11px 29px -15px rgba(66, 68, 90, 0.59);

$light-border: solid 1px rgb(235, 235, 235);
