@import "../../styles/colors";

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $light-border;
  padding: 10px 0;
}

.actions {
  display: flex;
  align-items: center;
}

.list {
  li:last-child {
    border-bottom: 0;
  }
}
