.btn {
  margin: 5px;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.7s;
  font-weight: 600;
}
.text {
  color: #1876d2;
}

.text:hover {
  background-color: #d7eafe78;
}

.contained {
  background-color: #1876d2;
}
.contained:hover {
  background-color: #0059b2;
}
