@import "../../../styles/colors";

.btn {
  margin: 5px;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  transition: background-color 0.7s;
  cursor: pointer;
}

.text {
  color: $text-btn-color;

  &:hover {
    background-color: $text-btn-hover-color;
  }
}

.contained {
  background-color: $contained-btn-backgroundcolor;

  &:hover {
    background-color: $contained-btn-hover-color;
  }
}
