.table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: white;
    color: #aaa7a7;

    tr th {
      padding: 20px;
      border-bottom: 1px solid #e7e9ea;
    }
  }

  tr td {
    padding: 10px 20px;
    border-bottom: 1px solid #e7e9ea;
  }

  tbody tr {
    transition: background-color 0.5s;
    cursor: pointer;

    &:hover {
      background-color: #f6f2f2;
    }
  }
}

.btn {
  padding: 10px 15px;
  color: #aaa7a7;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  transition: background-color 0.7s;
  cursor: pointer;
}

.btn:hover {
  background-color: #edecec8f;
}
