@import "../../styles/colors";

.table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: white;
    color: $gray-color;

    tr th {
      padding: 20px;
      border-bottom: $light-border;
    }
  }

  tr td {
    padding: 10px 20px;
    border-bottom: $light-border;
  }

  tbody tr {
    transition: background-color 0.5s;
    cursor: pointer;

    &:hover {
      background-color: $light-gray-background-color;
    }
  }
}
