.iconBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: #aaa7a7;
  background-color: transparent;
  transition: background-color 0.7s;
  cursor: pointer;

  &:hover {
    background-color: #edecec8f;
  }

  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }
}
